@import 'styles/colors.scss';
.filter {
  flex: 0 1 242px;
  width: 242px;
  .quont {
    color: $second-color;
    margin-bottom: 5px;
  }
  h1 {
    font-weight: 700;
    font-size: 32px;
    color: $first-color;
    margin-bottom: 13px;
  }
  .price {
    font-weight: 700;
    font-size: 16px;
    color: $first-color;
    margin-bottom: 12px;
  }
  .inputs {
    display: flex;
    margin-bottom: 24px;
  }
}
