@import 'styles/colors.scss';
.input {
  width: 50%;
  height: 42px;
  border: 1px solid #dbdbdb;
  padding: 0 12px;
  border-radius: 4px;
  color: $first-color;
  outline: none;
  cursor: pointer;
  &:first-child {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
