.main {
  display: flex;
  gap: 24px;
  height: 100%;
  width: 100%;
}
@media (max-width: 855px) {
  .main {
    flex-direction: column;
    justify-content: start;
    flex-grow: 0;
    gap: 0;
  }
}
