@import 'styles/media';
.catalog {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  flex: 0 3 calc(1306px - 24px - 242px);
  width: calc(1306px - 24px - 242px);
  column-gap: 24px;
  @include media-breakpoint-down(sm) {
    column-gap: 0;
    position: relative;
    flex-basis: 0;
    left: -20px;
    width: calc(100% + 40px) !important;
  }
  li {
    list-style: none;
  }
}

@media (max-width: 855px) {
  .catalog {
    width: 100%;
  }
}
@media (max-width: 605px) {
  .catalog {
    column-gap: 15px;
  }
}
